@import 'Setting.scss';

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  height: 50px;
  background-color: $first_color;
  padding: 0 20px;
  @include shadow(4px, 3px, 1px, 0.3);
  a{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    h1{
      font-size: 18px;
    }
  }
}
